SETLIST {
    background-image: url(background.jpeg);
    width: 100%;
    background-position-x: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    color: #000000;
}

ARTIST {display:block;font-weight: 300px; font-size:50px;}
TITLE {text-indent: 3em; display: block;font-size:40px;}
GENRE, YEAR {text-indent: 3em; display: block; font-style: italic; font-size:25px;}
